@import 'buttons';

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  padding: 0;
  font-size: 16px;
  line-height: 150%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  color: #444444;
  background: #ffffff;
  background-color: rgba(255, 255, 255, 1);
}

a {
  text-decoration: none;
}

a,
a:visited {
  color: #D6391F;
}

.right {
  float: right;
}

.left {
  float: left;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
}

.list {
  position: relative;
  padding-left: 0;
  margin-bottom: 20px;
  list-style-type: none;
}

.list-item {
  display: block;
  padding: 16px;
}

.sidebar {
  width: 100px;
  background: #191919;

  a {
    color: #666666;
  }
}

.main-content {
  width: 100%;
  padding: 0 24px;
}

.text-input,
textarea {
  width: 100%;
  border: 1px solid #444444;
  padding: 12px;
}

.project-header {
  width: 100%;
  display: table;
  border-bottom: 5px solid #f4f4f4;
}

.project-title,
.project-actions {
  display: table-cell;
}

.project-actions {
  text-align: right;
}

.task-list-item {
  border-bottom: 3px solid #f4f4f4;

  &:first-child {
    border-top: 3px solid #f4f4f4;
  }

  &:hover {
    background-color: #f4f4f4;
  }
}
