<div class="contain-to-grid">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1>{{link-to 'Project Planner' 'projects'}}</h1>
      </li>
    </ul>
  </nav>
</div>

<div class="row">
  <div class="small-12 columns">
    {{outlet}}
  </div>
</div>
