<div class="container">
  <div class="sidebar">
    <nav role="navigation">
      <ul class="list">
        <li class="list-item">{{link-to 'Projects' 'projects.index'}}</li>
      </ul>
    </nav>
  </div>

  <div class="main-content">
    {{ember-notify}}

    {{outlet}}
  </div>
</div>
