<div class="row">
  <div class="small-4 columns">
    <h3>Projects</h3>
    <ul class="side-nav">
      {{#each project in projects}}
        <li>{{link-to project.name 'projects.show' project}}</li>
      {{/each}}
      <li class="divider"></li>
      <li>{{link-to 'Add a Project' 'projects.new' class="button"}}</li>
    </ul>
  </div>

  <div class="small-8 columns">
    {{outlet}}
  </div>
</div>
